<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="NetStoreDBConnectionString" connectionString="Data Source=.;Initial Catalog=NetStoreDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="NetStoreDBEntities1" connectionString="metadata=res://*/App_Code.NetStoreModels.csdl|res://*/App_Code.NetStoreModels.ssdl|res://*/App_Code.NetStoreModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NetStoreDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <!--使用驗證-->
      <forms defaultUrl="Default.aspx" loginUrl="Login.aspx" timeout="20" name="NetStoreAuth" />
      <!--timeout:閒置多久就登出(單位：分鐘)-->
      <!--name:設置Cookie的名子-->
    </authentication>
    <!--針對整個網站權限控管-->
    <!--使用授權-->
    <!--<authorization>
      <deny users="?"/> -->
    <!--拒絕匿名使用者-->
    <!--
    </authorization>-->
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--限制BookInfo.aspx瀏覽權限，拒絕匿名使用者-->
  <location path="BookInfo.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <!--拒絕匿名使用者-->
      </authorization>
    </system.web>
  </location>
  <!--限制Checkout.aspx瀏覽權限，拒絕匿名使用者-->
  <location path="Checkout.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <!--拒絕匿名使用者-->
      </authorization>
    </system.web>
  </location>
  <!--限制backyard目錄下的網頁的瀏覽權限，只允許admin,boss，其他使用者全部拒絕-->
  <location path="backyard">
    <system.web>
      <authorization>
        <allow users="admin,boss" />
        <!--只允許admin,boss-->
        <deny users="*" />
        <!--其他使用者全部拒絕-->
      </authorization>
    </system.web>
  </location>
</configuration>